<div class="row">
  <% @schedules.each do |horario_metade| %>
      <div class="col-md-6">
        <table class="table table-condensed">
          <thead>
          <tr>
            <th>Linha</th>
            <th>Partida</th>
            <th>Destino</th>
            <th>Via</th>
          </tr>
          </thead>
          <tbody>
          <% horario_metade.each do |horario| %>
              <tr class="<%= ( Time.parse(horario.partida.to_s).strftime( "%H%M%S%N" ) < Time.now.strftime( "%H%M%S%N" ) ) ? "danger" : "success" %>">
                <td><%= horario.linha_ponto_linha_ponto.origem.linha.code %></td>
                <td><%= horario.partida_s %></td>
                <td><%= horario.chegada_s %></td>
                <td><%= horario.via %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
  <% end %>
</div>